
/*
first section
*/

.first-section {
    background-color: #1F2937;
    padding: 8px 240px 90px 240px;
}

.first-section-body {
    display: flex;
    gap: 30px;
}

.text {
    display: flex;
    flex-flow: column wrap;
}
.first-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.second-text, .button-1, li, img {
    font-size: 18px;
    color: #E5E7EB;
}

.button-1 {
    background-color: #3882F6;
    align-self: flex-start;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.first-section-image {
    width: 800px;
    height: 300px;
}

/*
second section
*/
.second-section {
    padding: 15px 280px 90px 280px;
}
.second-section-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-bottom: 30px;
}

.images-and-subtexts {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    
}
.image-and-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.images-and-subtexts img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    border: 5px solid rgb(0, 153, 255);
}

.image-and-subtext div {
    text-align: center;
    width: 150px;
}

/*
third section
*/
.third-section {
    background-color: #E5E7EB;
    padding: 50px 300px 50px 300px;
}
.quote em{
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    text-align: center;
}

.quote-author {
    text-align: right;
    font-weight: 800;
}

/*
fourth section
*/

.fourth-section {
    padding: 70px 250px 70px 250px;
}
.call-to-action {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 15px;
    gap: 10px;
    border-radius: 10px;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-column {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border: 0.5px solid #E5E7EB;
    padding: 5px 15px;
}

.first-text {
    font-size: 18px;
}

.second-text {
    font-size: 16px;
}